services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
#    ports:
#      - "8080:8080"
    networks:
      - pokemon-network
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - pokemon-network
    restart: always

networks:
  pokemon-network:
    driver: bridge
